USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 10/27/2024 11:40:09 AM ******/
CREATE DATABASE [LibraryManagement]
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[CategoryData]    Script Date: 10/27/2024 11:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryData](
	[CategoryID] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerData]    Script Date: 10/27/2024 11:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerData](
	[CustomerID] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Items] [nvarchar](max) NOT NULL,
	[MembershipValidUntil] [datetime] NULL,
	[LateFee] [int] NULL,
 CONSTRAINT [PK_CustomerData] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemData]    Script Date: 10/27/2024 11:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemData](
	[ItemID] [nvarchar](50) NOT NULL,
	[ItemNo] [int] NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ImageUrl] [varbinary](max) NULL,
	[CategoryID] [nvarchar](50) NOT NULL,
	[ListID] [nvarchar](50) NULL,
	[ListItem] [int] NULL,
	[DigitalFlg] [bit] NOT NULL,
	[DigitalFile] [varbinary](max) NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Memo] [nvarchar](max) NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[CustomerID] [nvarchar](50) NULL,
	[NotificationTime] [datetime] NULL,
	[NotificationSubject] [nvarchar](max) NOT NULL,
	[NotificationBody] [nvarchar](max) NOT NULL,
	[SendFlg] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[LastChange] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ItemData] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[ItemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListData]    Script Date: 10/27/2024 11:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListData](
	[ListID] [nvarchar](50) NOT NULL,
	[ListName] [nvarchar](50) NOT NULL,
	[Items] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailData]    Script Date: 10/27/2024 11:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailData](
	[MailID] [nvarchar](50) NOT NULL,
	[MailTitle] [nvarchar](50) NOT NULL,
	[MailBody] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 10/27/2024 11:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[UserID] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[RefreshToken] [nvarchar](max) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK_UserData] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CategoryData] ([CategoryID], [CategoryName]) VALUES (N'4ce84870-f022-44e7-ab38-95059696f190', N'CG01')
INSERT [dbo].[CategoryData] ([CategoryID], [CategoryName]) VALUES (N'8a7b5b69-7ed4-42f5-83b9-a34aecb443e2', N'CG03')
INSERT [dbo].[CategoryData] ([CategoryID], [CategoryName]) VALUES (N'bf9da044-2fc1-4340-97b3-4e8652012d28', N'CG02')
GO
INSERT [dbo].[CustomerData] ([CustomerID], [CustomerName], [Email], [Phone], [Address], [Items], [MembershipValidUntil], [LateFee]) VALUES (N'869ec3b5-67c3-40fa-98c8-fee352c2f352', N'qwerdfasd', N'anhphanht135@gmail.com', N'789789123', N'asdqwe', N'', CAST(N'2025-09-29T22:41:12.407' AS DateTime), 0)
INSERT [dbo].[CustomerData] ([CustomerID], [CustomerName], [Email], [Phone], [Address], [Items], [MembershipValidUntil], [LateFee]) VALUES (N'a16512fb-9051-4a65-a6e4-3fbca467b432', N'qwer', N'qwe@gmail.com.vn', N'123321123', N'asd', N'', CAST(N'2025-10-13T19:28:01.653' AS DateTime), 0)
GO
INSERT [dbo].[ItemData] ([ItemID], [ItemNo], [ItemName], [ImageUrl], [CategoryID], [ListID], [ListItem], [DigitalFlg], [DigitalFile], [Location], [Quantity], [Memo], [StartTime], [EndTime], [CustomerID], [NotificationTime], [NotificationSubject], [NotificationBody], [SendFlg], [CreatedBy], [LastChange]) VALUES (N'060dd20d-5fdf-4ecf-8eb6-8753ec82c8a1', 0, N'IT02', NULL, N'4ce84870-f022-44e7-ab38-95059696f190', NULL, NULL, 0, NULL, N'FGH', 16, N'ASD', NULL, NULL, NULL, NULL, N'', N'', 1, N'c0142d71-d083-44db-b7cb-adaf94ef2aea', N'c0142d71-d083-44db-b7cb-adaf94ef2aea')
INSERT [dbo].[ItemData] ([ItemID], [ItemNo], [ItemName], [ImageUrl], [CategoryID], [ListID], [ListItem], [DigitalFlg], [DigitalFile], [Location], [Quantity], [Memo], [StartTime], [EndTime], [CustomerID], [NotificationTime], [NotificationSubject], [NotificationBody], [SendFlg], [CreatedBy], [LastChange]) VALUES (N'060dd20d-5fdf-4ecf-8eb6-8753ec82c8a1', 1, N'IT02', NULL, N'4ce84870-f022-44e7-ab38-95059696f190', NULL, NULL, 0, NULL, N'FGH', 1, N'ASD', NULL, NULL, NULL, NULL, N'', N'', 1, N'c0142d71-d083-44db-b7cb-adaf94ef2aea', N'c0142d71-d083-44db-b7cb-adaf94ef2aea')
INSERT [dbo].[ItemData] ([ItemID], [ItemNo], [ItemName], [ImageUrl], [CategoryID], [ListID], [ListItem], [DigitalFlg], [DigitalFile], [Location], [Quantity], [Memo], [StartTime], [EndTime], [CustomerID], [NotificationTime], [NotificationSubject], [NotificationBody], [SendFlg], [CreatedBy], [LastChange]) VALUES (N'060dd20d-5fdf-4ecf-8eb6-8753ec82c8a1', 2, N'IT02', NULL, N'4ce84870-f022-44e7-ab38-95059696f190', NULL, NULL, 0, NULL, N'FGH', 1, N'ASD', NULL, NULL, NULL, NULL, N'', N'', 0, N'c0142d71-d083-44db-b7cb-adaf94ef2aea', N'c0142d71-d083-44db-b7cb-adaf94ef2aea')
GO
INSERT [dbo].[ListData] ([ListID], [ListName], [Items]) VALUES (N'89e2fd43-241a-4116-adbe-0c9e5ade0e0c', N'LI01', N'QWE|ASD')
INSERT [dbo].[ListData] ([ListID], [ListName], [Items]) VALUES (N'd65a9ca6-0ba4-485f-87d2-9c6fb93a0c06', N'LI02', N'QWE|ASD|ZXC')
GO
INSERT [dbo].[MailData] ([MailID], [MailTitle], [MailBody]) VALUES (N'373e813b-496a-45ab-bac7-4769bffd679b', N'TT00', N'BODY00')
INSERT [dbo].[MailData] ([MailID], [MailTitle], [MailBody]) VALUES (N'742ef0cb-48d1-411a-9f1f-8e6ae81b6743', N'TT01', N'BODY01')
GO
INSERT [dbo].[UserData] ([UserID], [UserName], [Email], [Phone], [Salt], [Pass], [RefreshToken], [UserRole], [IsLocked]) VALUES (N'4529cf37-8f7a-4832-9c88-e913d02caca1', N'Karen', N'qwe@gmail.com', N'123123125', N'J6X9usS6XFLsgrUEV0Ymlw==', N'92fekCWjNfReMmJsM90dAilwrNm2ccI3NjQhk2tbuOU=', N'', N'ADMIN', 0)
INSERT [dbo].[UserData] ([UserID], [UserName], [Email], [Phone], [Salt], [Pass], [RefreshToken], [UserRole], [IsLocked]) VALUES (N'4b8328c0-0f78-416c-93c6-fecf4d71c56a', N'Sara', N'qet@gmail.com', N'135246357', N'GXJzCBvkhouOogLSUB5Oyg==', N'1gtYBTiRhHw3dupzRCBdkK5znXqRqWUXK2zpaj/B/n0=', N'', N'ADMIN', 0)
INSERT [dbo].[UserData] ([UserID], [UserName], [Email], [Phone], [Salt], [Pass], [RefreshToken], [UserRole], [IsLocked]) VALUES (N'c0142d71-d083-44db-b7cb-adaf94ef2aea', N'Setsuna', N'asd@gmail.com', N'0898483014', N'3M8tLEK5Ye+FGY1oLHth4w==', N'oHqTGvyXLR3RHA9TQTQyAjJqCmN+nquFHtHFNp6q4co=', N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6ImMwMTQyZDcxLWQwODMtNDRkYi1iN2NiLWFkYWY5NGVmMmFlYSIsImV4cCI6MTcyOTYxNDk4MH0.oE9wGo_DM2H_xUE1ocNOGjXckHY5xFnC6qiZ2-dMwkI', N'SUPER ADMIN', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CustomerData_Email]    Script Date: 10/27/2024 11:40:09 AM ******/
ALTER TABLE [dbo].[CustomerData] ADD  CONSTRAINT [UQ_CustomerData_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CustomerData_Phone]    Script Date: 10/27/2024 11:40:09 AM ******/
ALTER TABLE [dbo].[CustomerData] ADD  CONSTRAINT [UQ_CustomerData_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemData]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryData] ([CategoryID])
GO
ALTER TABLE [dbo].[ItemData]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserData] ([UserID])
GO
ALTER TABLE [dbo].[ItemData]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerData] ([CustomerID])
GO
ALTER TABLE [dbo].[ItemData]  WITH CHECK ADD FOREIGN KEY([LastChange])
REFERENCES [dbo].[UserData] ([UserID])
GO
ALTER TABLE [dbo].[ItemData]  WITH CHECK ADD FOREIGN KEY([ListID])
REFERENCES [dbo].[ListData] ([ListID])
GO
USE [master]
GO
