.general-label {
    flex-grow: 1;
    text-align: left;
    margin-right: 1em;
    font-size: 1.25em;
}

.general-label-header {
    flex-grow: 1;
    text-align: left;
    margin-right: 1em;
    font-size: 2em;
    font-weight: bold;
}

.general-label-error {
    color: red;
    font-size: 1.25em;
    display: block;
    background-color: transparent;
    border: transparent;
}

.general-label-warning {
    color: darkorange;
    font-size: 1.25em;
    display: block;
    background-color: transparent;
    border: transparent;
}

.general-input {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    font-size: 1.25em;
}

.general-input:focus {
    border-color: #45a049;
    box-shadow: 0 0 0.5em 0 #45a049;
    outline: none;
}

.general-input:hover {
    border-color: #888;
}

.general-input {
    transition: border-color 0.3s, box-shadow 0.3s;
}

.general-button {
    padding: 0.625em 1.25em;
    margin: 0.625em 0.3125em;
    border: none;
    border-radius: 0.3125em;
    background-color: #4CAF50;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.general-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.general-button:hover:not(:disabled) {
    background-color: #45a049;
}

.general-input-checkbox {
    transform: scale(1.5);
    margin: 10px;
}

.general-file-input {
    position: relative;
    width: 50vw;
    height: 2.5em;
    opacity: 1;
    overflow: visible;
    z-index: 1;
    padding: 0.625em;
    font-size: 1.25em;
    color: #333;
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    background-color: #f0f0f0;
    cursor: pointer;
}

.general-file-input::file-selector-button {
    margin-right: 0.625em;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.3125em;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.general-file-input::file-selector-button:hover {
    background-color: #45a049;
}

.general-datetime-input {
    padding: 0.5em;
    font-size: 1em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-shadow: inset 0 0.0625em 0.1875em rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0.5em 0;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.general-custom-select {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #333;
}

.general-custom-select select {
    display: flex;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    appearance: none;
    background-color: #fff;
    background-position: right 0.75em center;
    background-size: 1em;
    cursor: pointer;
}

.general-custom-select select::-ms-expand {
    display: none;
}

.general-custom-select option {
    padding: 0.5em;
    font-size: 1em;
}

.general-custom-select select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0.3125em rgba(76, 175, 80, 0.5);
    outline: none;
}

.body {
    background-image: url('../images/background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1em;
    background-color: #333;
    color: #4CAF50;
    font-size: 1.25em;
}

.search-container {
    text-align: center;
    padding: 1.25em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.625em;
}

.search-input {
    width: calc(100% - 1.375em);
    padding: 0.625em;
    margin: 0.625em 0;
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
    font-size: 1.25em;
}

.search-label {
    display: block;
    margin: 0.625em 0 0.3125em;
    font-size: 1.25em;
    color: #333;
}

.search-button, .advance-search-button {
    padding: 0.625em 1.25em;
    margin: 0.625em 0.3125em;
    border: none;
    border-radius: 0.3125em;
    background-color: #4CAF50;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover, .advance-search-button:hover {
    background-color: #4CAF50;
}

.list-container {
    padding: 0em 1.25em;
}

.list-centered-box {
    text-align: center;
    padding: 1.25em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.625em;
    margin: 1.25em 0.3125em;
    text-align: left;
}

.list-label-error {
    display: block;
    margin: 0.625em 0 0.3125em;
    font-size: 1.25em;
    color: darkorange;
    text-align: center;
}

.list-input {
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    font-size: 1.25em;
}

.list-popup-container {
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    display: flex; /* Ensure Flexbox is applied */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 2em;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0em 1.25em;
}

.category-centered-box {
    text-align: center;
    padding: 1.25em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.625em;
    margin: 1.5em;
    text-align: left;
}

.category-input {
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    font-size: 1.25em;
}

.centered-box {
    text-align: center;
    padding: 1.25em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.625em;
    margin: 1.5em;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 2em;
}

.item-row {
    margin-bottom: 1em;
    padding: 0.625em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.3125em;
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-image {
    max-width: 3em;
    min-width: 3em;
    width: 100%;
    max-height: 3em;
    min-height: 3em;
    height: 100%;
    object-fit: contain;
    margin-right: 3em;
}

.arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    border-left: 0.375em solid transparent;
    border-right: 0.375em solid transparent;
    border-bottom: 0.375em solid white;
}

.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    border-left: 0.375em solid transparent;
    border-right: 0.375em solid transparent;
    border-top: 0.375em solid white;
}

.item-left-box {
    text-align: left;
}

.item-textarea {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    font-size: 1.5em;
    height: 6.25em;
    resize: none;
    overflow-y: scroll;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #4CAF50;
    font-size: 1.25em;
}  

.footer-image {
    max-width: 3em;
    min-width: 3em;
    width: 100%;
    max-height: 3em;
    min-height: 3em;
    height: 100%;
    object-fit: contain;
    margin-right: 3em;
}

.loading-container {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 2em;
}